<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <style type="text/css">
    .list-todos li {
      cursor: pointer;
    }

    .list-todos li:hover {
      color: blue;
    }

    .list-todos {
      padding-left: 17px;
    }

    .list-todos li.completed {
      text-decoration: line-through;
      opacity: 0.6;
    }
  </style>
</head>
<body>
  <div class="container todo-app" style="margin-top: 50px;">
    <div class="card">
      <div class="card-header">
        <div class="form-group">
        <div class="input-group">
          <input type="text" v-model="new_todo" @keyup.enter="add" placeholder="What do you want to do today?" class="form-control">
          <button class="btn btn-primary" @click="add">+</button>
        </div>
      </div>
      </div>
      <div class="card-body">
        <h3>Todo Checklist</h3>
        <p v-if="todos.length > 0">Select to complete your checklist below :</p>
        <ul class="list-todos">
          <li v-for="todo in todos" :class="{completed: todo.is_completed}" @click="toggleComplete(todo)">
            {{ todo.label }} <a style="float: right;" @click="remove(todo)">x</a>
          </li>
        </ul>
        <p v-if="todos.length == 0">Please add an item above</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var todoApp = new Vue({
      el: '.todo-app',
      data: {
        new_todo: '',
        todos: []
      },
      methods: {
        toggleComplete: function(todo) {
          // When you use 'this.'' you can access data object, or the method.
          for (var i in this.todos) { // Loop our list to compare the object
            if (todo == this.todos[i]) {
              if (todo.is_completed)
                todo.is_completed = false;
              else
                todo.is_completed = true;
            }
          }

          this.persist();
        },
        add: function() {
          // Do a simple validation if it's empty.
          if (!this.new_todo)
            return alert('Input cannot be empty.');

          // Push a new object into our todo list
          this.todos.push({
            label: this.new_todo,
            is_completed: false
          });

          // Then clear the input
          this.new_todo = '';

          this.$forceUpdate();

          this.persist();
        },
        remove: function(todo) {
          // this code use javascript filter() and function shorthand () => {}
          this.todos = this.todos.filter((item) => {
            return todo != item;
          });

          this.persist();
        },
        persist: function() {
          // persist our todos into localStorage
          // this function to be called whenever our todos list is changed
          window.localStorage.setItem('todos', JSON.stringify(this.todos));
        },
        load: function() {
          // load from javascript localStorage
          // to be called only when page is loaded
          this.todos = window.localStorage.getItem('todos') ? JSON.parse(window.localStorage.getItem('todos')) : [];
        }
      }
    });
    todoApp.load();
  </script>
</body>
</html>